{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% translate "purchase_historypage.title" %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/purchase_history.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

</head>
<body>
<table class="history_table">
    <tr>
        <th>{% translate "purchase_historypage.header_id" %}</th>
        <th>{% translate "purchase_historypage.header_purchase_date" %}</th>
        <th>{% translate "purchase_historypage.header_buyer_name" %}</th>
        <th>{% translate "purchase_historypage.header_performance_1" %}</th>
        <th>{% translate "purchase_historypage.header_performance_2" %}</th>
    </tr>
    {% for purchase in purchases %}
        <tr>
            <td class="history_field">{{ purchase.id }}</td>
            <td class="history_field">{{ purchase.date|date:"D d b H:i" }}</td>
            <td class="history_field">{{ purchase.name }}</td>
            <td class="history_field">{{ purchase.ticket1.selection }}</td>
            <td class="history_field">{{ purchase.ticket2.selection }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>