{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% translate "orderpage.title" %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

</head>
<body>
<div class="column-container">
    {% include "order/overview.html" %}
    {% if messages %}
        <ul id="messages" class="messages">
            {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div id="order-form" class="column-container">
        <form action="/order/" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

</body>
</html>