{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% translate "orderpage.title" %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

</head>
<body>
<div class="row-container">
    <div id="order-form" class="column-container">
        <h4 style="padding-bottom: 0; margin-bottom: 5px">{% translate 'orderpage.rules.header' %}</h4>
        <p style="word-wrap: normal;width: 25vw; margin-bottom: 50px">{% translate 'orderpage.rules.text' %}</p>
        <form action="/order/" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit">
        </form>
        {% if messages %}
            <ul id="messages" class="messages">
                {% for message in messages %}
                    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            <a href="{% url 'export' %}" class="button">{% translate 'orderpage.export' %}</a>
        </p>
    </div>
    <div class="column-container" style="overflow: scroll; max-height: 98vh">
        {% include "order/overview.html" %}
    </div>

</div>

</body>
</html>