{% load static %}
{% load i18n %}
<script>
    setTimeout(function () {
        const messageRender = document.getElementById('messages');
        if (messageRender) {
            messageRender.style.display = 'none';
        }
    }, 3000);
</script>
<div class="column-container">
    <div class="row-container">
        {% for association, performances_per_association in performances.items %}
            <div class="association-card">
                <img src="{{ association.image.url }}" alt="Association image" class="association-image">
                <b>{{ association.name }}</b>
                <div class="association-performances">
                    {% for performance in performances_per_association %}
                        <p class="association-performance">
                            {% if performance.tickets_left == 0 %}
                                {{ performance.date|date:"D d b" }} : {{ performance.tickets_left }} /
                                {{ performance.max_tickets }}
                            {% else %}
                                {% url 'order' as order_url %}
                                {% if not 'performance_1' in request.GET %}
                                    <a href="{% url 'order' %}?performance_1={{ performance.key }}"> {{ performance.date|date:"D d b" }}
                                        : {{ performance.tickets_left }} / {{ performance.max_tickets }} </a>
                                {% elif 'performance_1' in request.GET and not 'performance_2' in request.GET %}
                                    <a href="{{ request.get_full_path }}&performance_2={{ performance.key }}"> {{ performance.date|date:"D d b" }}
                                        : {{ performance.tickets_left }} / {{ performance.max_tickets }} </a>
                                {% else %}
                                    {{ performance.date|date:"D d b" }} : {{ performance.tickets_left }} /
                                    {{ performance.max_tickets }}
                                {% endif %}
                            {% endif %}
                        </p>
                    {% endfor %}
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row-container">
            {% endif %}
        {% endfor %}
        </div>
</div>